.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(216, 233, 255, 1);

  &__container {
    background-color: #f0f7ff;
    padding: 0 5rem;
  }

  &__links {
    &--dropdown {
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      font-family: "Satoshi", sans-serif;

      div {
        display: none;
      }

      &:hover {
        color: #000 !important;
        span {
          text-decoration: underline;
        }
      }

      &:active {
        border: none;
      }
    }

    &--link:link,
    &--link:visited {
      cursor: pointer;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 0.2rem 0.8rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__buttons {
    &--button {
      text-decoration: none;
      font-size: 1.4rem;
      border-radius: 6px;
      text-transform: uppercase;
      padding: 0.3rem 1.2rem;
    }

    &--signin {
      border: 1px solid rgba(56, 81, 114, 1);
      color: rgba(56, 81, 114, 1);
      margin-right: 1rem;

      &:hover {
        background-color: rgba(56, 81, 114, 1);
        color: #fff;
      }
    }

    &--submit {
      border: 1px solid rgba(56, 81, 114, 1);
      background: linear-gradient(102.17deg, #385172 16.09%, #223b5e 79.97%);
      color: #fff;

      &:hover {
        color: rgba(56, 81, 114, 1);
        background: transparent;
      }
    }
  }

  &__search {
    padding: 3rem 0 3rem 0;

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        color: rgba(56, 81, 114, 1);
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      &-icon {
        cursor: pointer;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    &--inputs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 2rem;
    }

    &--group {
      &-title {
        color: rgba(56, 81, 114, 1);
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-bottom: 0.6rem;
      }

      button {
        width: 100%;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
