.slideshow {
  grid-column: auto / span 2;
  border-radius: 5px;
  overflow: hidden;

  img {
    height: 20rem;
    object-fit: cover;
  }

  p {
    opacity: 1 !important;
    text-align: left !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 3px !important;
    padding: 1rem 2rem !important;
  }
}
